<div id="top">


  <div class="top-currency">
    <span class="top-currency-btn">
      <img src="/assets/img/ico1.png" alt="">
      XNO/NVO
      <img src="/assets/img/ico2.png" alt="">
    </span>

    <div class="top-currency-dropdown">
      <div class="top-currency-dropdown-search">
        <input type="text" placeholder="Search">
        <button></button>
      </div>
      <div class="top-currency-dropdown-title">
        <span>Coin</span>
        <span>Name</span>
        <span>Price</span>
        <span>Volume</span>
        <span>Change</span>
      </div>
      <div class="top-currency-dropdown-item">
        <span><b>LTC</b></span>
        <span>Litecoin</span>
        <span>0.01005052</span>
        <span>2213.466</span>
        <span class="top-currency-green">+8.23%<img src="/assets/img/history-arrow-up.png" alt=""></span>
      </div>
      <div class="top-currency-dropdown-item">
        <span><b>BTC</b></span>
        <span>Litecoin</span>
        <span>0.01005052</span>
        <span>2213.466</span>
        <span class="top-currency-red">+8.23%<img src="/assets/img/history-arrow-down.png" alt=""></span>
      </div>
      <div class="top-currency-dropdown-item">
        <span><b>XNO</b></span>
        <span>Litecoin</span>
        <span>0.01005052</span>
        <span>2213.466</span>
        <span class="top-currency-green">+8.23%<img src="/assets/img/history-arrow-up.png" alt=""></span>
      </div>
      <div class="top-currency-dropdown-item">
        <span><b>ETH</b></span>
        <span>Litecoin</span>
        <span>0.01005052</span>
        <span>2213.466</span>
        <span class="top-currency-green">+8.23%<img src="/assets/img/history-arrow-up.png" alt=""></span>
      </div>
      <div class="top-currency-dropdown-item">
        <span><b>DASH</b></span>
        <span>Litecoin</span>
        <span>0.01005052</span>
        <span>2213.466</span>
        <span class="top-currency-green">+8.23%<img src="/assets/img/history-arrow-up.png" alt=""></span>
      </div>
      <div class="top-currency-dropdown-item">
        <span><b>XRP</b></span>
        <span>Litecoin</span>
        <span>0.01005052</span>
        <span>2213.466</span>
        <span class="top-currency-green">+8.23%<img src="/assets/img/history-arrow-up.png" alt=""></span>
      </div>
      <div class="top-currency-dropdown-item">
        <span><b>DOGE</b></span>
        <span>Litecoin</span>
        <span>0.01005052</span>
        <span>2213.466</span>
        <span class="top-currency-green">+8.23%<img src="/assets/img/history-arrow-up.png" alt=""></span>
      </div>
      <div class="top-currency-dropdown-item">
        <span><b>FNR</b></span>
        <span>Litecoin</span>
        <span>0.01005052</span>
        <span>2213.466</span>
        <span class="top-currency-green">+8.23%<img src="/assets/img/history-arrow-up.png" alt=""></span>
      </div>
    </div>

  </div><div class="top-last-price">
    <div class="top-last-price-item">
      <b>LAST PRICE</b> $4823.90
      <em></em>
    </div>
    <div class="top-last-price-item">
      <b>VOLEMU 24 HOURS</b> $170.21
      <em></em>
    </div>
    <div class="top-last-price-item">
      <b>VOLEMU 24 HOURS</b> +23.22
      <em></em>
    </div>
  </div>
  <!--
  <a href="" class="login">User login</a>
  <a href="" class="register">Create new account</a>
  -->
</div>
