.api-keys-title {
    padding: 48px 0 9px 1px;
    border-bottom: 1px solid #edf1f6;
    color: #8f9aaf;
    font-size: 13px;
    line-height: 20px;
}

.api-keys-item {
    position: relative;
    overflow: hidden;
    padding: 19px 14px 19px 2px;
    border-bottom: 1px solid #edf1f6;
    color: #9faebb;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.016em;
}

.api-keys-item b {
    font-weight: 400;
    color: #414a5e;
}

.api-keys-item b i {
    display: inline-block;
    margin-left: 12px;
    font-style: normal;
    color: #9faebb;
    cursor: pointer;
    opacity: 0;
}

.api-keys-item b i:hover {
    color: #b8c9d7;
}

.api-keys-item:hover b i {
    opacity: 1;
}

.api-keys-item-links {
    float: right;
}

.api-keys-item span {
    float: right;
    display: inline-block;
    margin-left: 23px;
    color: #ff7a7a;
    cursor: pointer;
}

.api-keys-item span.api-key-edit {
    color: #158df9;
}

.api-keys-item span:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .api-keys-title {
        padding: 28px 0 9px 0;
    }
    .api-keys-item {
        padding: 13px 14px 15px 0;
    }
    .api-keys-item-links {
        float: left;
        padding-top: 6px;
    }
    .api-keys-item span {
        margin-left: 0;
        margin-right: 23px;
    }
    .api-keys-item b {
        display: block;
    }
    .api-keys-item b i {
        position: absolute;
        right: 2px; top: 41px;
        opacity: 1;
    }
}







.api-keys-item-slide {
    margin: 15px -11px -2px -1px;
    padding: 9px 14px 7px 14px;
    background: #f9fafc;
    border-radius: 4px;
    display: none;
}

input[type=checkbox] { display: none }

input[type=checkbox] + label {
    color: #717887;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    margin-right: 23px;
    padding: 5px 5px 5px 31px;
}

input[type=checkbox] + label span {
    left: 0; top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    display: block;
    margin: 0;
    border-radius: 2px;
    border: 1px solid #e1e3e8;
}

input[type=checkbox]:checked + label {
    color: #AEB7C6;
}

input[type=checkbox]:checked + label span {
    border: 1px solid #158df9;
}

input[type=checkbox] + label span::after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDIzIDE2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyMyAxNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzE1OERGOTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTIwLjksMEw4LjMsMTIuMUwxLjgsNy40TDAsOS44bDcuNSw1LjVsMSwwLjdsMC45LTAuOUwyMywyLjJMMjAuOSwweiIvPg0KPC9zdmc+) no-repeat center top 3px;
    background-size: 12px auto;
    transform: scale(0);
    transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
}

input[type=checkbox]:checked + label span::after {
    transform: scale(1);
}

@media screen and (max-width: 600px) {
    .api-keys-item-slide {
        margin: 11px -11px -2px -1px;
        padding: 21px 14px 13px 20px;        
        float: left;
        clear: left;
    }
    input[type=checkbox] + label {
        margin-bottom: 7px;
    }
}






.api-keys-buttons {
    text-align: right;
    padding: 27px 3px 0 0;
}

.api-keys-save {
    min-width: 150px;
    height: 45px;
    padding: 0 15.5px;
    background: #158df9;
    border-radius: 3px;
    color: white;
    font-size: 15px;
}
.api-keys-save:hover {
    background: #3da0fa;
}

.api-keys-generate {
    min-width: 150px;
    height: 45px;
    margin-left: 6px;
    padding: 0 15.5px;
    background: #FFF;
    border: 1px solid #158df9;
    border-radius: 3px;
    color: #158df9;
    font-size: 15px;
}
.api-keys-generate:hover {
    border: 1px solid #3da0fa;
    color: #3da0fa;
}

@media screen and (max-width: 600px) {
    .api-keys-buttons {
        text-align: center;
        margin: 0 -16px;
    }
    .api-keys-save {
        min-width: 140px;
        padding: 0 6px;
        font-size: 14px;
    }
    .api-keys-generate {
        min-width: 140px;
        padding: 0 6px;
        margin-left: 2px;
        font-size: 14px;
    }
}








.api-keys-popup {
    position: fixed;
    z-index: 6;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 26px 228px 24px 26px;
    box-shadow: 0 10px 40px rgba(137, 145, 164, 0.26);
    background: white;
    border: 1px solid #e1e4e8;
    border-radius: 2px;
    color: #9299a7;
    font-size: 15px;
    display: none;
}

@media screen and (max-width: 500px) {
    .api-keys-popup {
        position: fixed;
        left: 10px; right: 10px;
        padding: 26px 20px 80px 20px;
        transform: translate(0, -50%);
    }
}

.api-keys-popup-close {
    position: absolute;
    top: 28px; right: 17px;
    width: 38px; height: 37px;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDI3IDI2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNyAyNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0JDQzBDOTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTI3LDIzLjVMMjQuNCwyNkwxMy41LDE1LjNMMi42LDI2TDAsMjMuNWwxMC45LTEwLjdMMC41LDIuNUwzLDBsMTAuNCwxMC4yTDIzLjksMGwyLjYsMi41TDE2LjEsMTIuOEwyNywyMy41eiINCgkvPg0KPC9zdmc+) no-repeat center;
    background-size: 14px auto;
    cursor: pointer;
}
.api-keys-popup-close:hover {
    opacity: .8;
}

.api-keys-popup button {
    position: absolute;
    top: 28px; right: 66px;
    height: 39px;
    padding: 0 20px;
    background: #69748c;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.api-keys-popup button:hover {
    background: #838fab;
}

.api-keys-popup b {
    display: block;
    margin-top: 5px;
    color: #414a5e;
    font-size: 17px;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .api-keys-popup-close {
        top: auto; bottom: 25px;
    }
    .api-keys-popup button {
        position: absolute;
        width: calc(100% - 86px);
        top: auto; bottom: 25px; left: 20px;
    }
}





















.api-keys-item b i,
.api-keys-item span,
input[type=checkbox] + label,
input[type=checkbox] + label span,
.api-keys-popup-close
{
    -webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
}