@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueCyr-Thin.eot');
    src: url('fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueCyr-Light.eot');
    src: url('fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueCyr-Roman.eot');
    src: url('fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueCyr-Medium.eot');
    src: url('fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueCyr-Bold.eot');
    src: url('fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #FFF;
    font-family: 'Helvetica Neue';
    font-weight: 400;
}

#spacer {
    height: 200px;
}

.clear {
    clear: both;
}

a {
    color: #5a94eb;
}

a:hover {
    text-decoration: none;
}

.reset,
.reset li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input,
textarea {
    font-family: 'Helvetica Neue';
}

button {
    border: 0;
    cursor: pointer;
    font-family: 'Helvetica Neue';
}

::-webkit-input-placeholder {
    color: #a2afbe;
}

::-moz-placeholder {
    color: #a2afbe;
}

:-moz-placeholder {
    color: #a2afbe;
}

:-ms-input-placeholder {
    color: #a2afbe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
}


/*---------------------- top menu ----------------------*/

.left-top-menu {
    overflow: auto;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    padding-top: 7px;
    background: #FFF;
    box-shadow: 0 10px 40px rgba(10, 17, 54, 0.05);
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.left-top-menu::-webkit-scrollbar {
    width: 0;
}

.left-top-menu.left-top-menu-open {
    visibility: visible;
    opacity: 1;
}

.left-top-menu span {
    display: block;
    padding: 23px 0 5px 28px;
    color: #6070a1;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.left-top-menu li {
    display: block;
    text-align: left
}

.left-top-menu li a {
    position: relative;
    display: block;
    height: 38px;
    margin-bottom: -4.2px;
    padding: 0 0 0 60px;
    text-decoration: none;
    color: #707785;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
}

.left-top-menu li a:hover {
    color: #0068d9;
    background: #eaf0f8;
}

.left-top-menu li a i {
    position: absolute;
    top: 12px;
    left: 28px;
    display: block;
    width: 16px;
    height: 15px;
}

.left-top-menu li a i.ico01 {
    background: url(../assets/img/ico01.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico02 {
    background: url(../assets/img/ico02.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico03 {
    background: url(../assets/img/ico03.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico04 {
    background: url(../assets/img/ico04.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico05 {
    background: url(../assets/img/ico05.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico06 {
    background: url(../assets/img/ico06.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico07 {
    background: url(../assets/img/ico07.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico08 {
    background: url(../assets/img/ico08.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico09 {
    background: url(../assets/img/ico09.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico10 {
    background: url(../assets/img/ico10.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico11 {
    background: url(../assets/img/ico11.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico12 {
    background: url(../assets/img/ico12.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico13 {
    background: url(../assets/img/ico13.png) no-repeat;
    background-size: 16px auto;
}

.left-top-menu li a i.ico14 {
    background: url(../assets/img/ico14.png) no-repeat;
    background-size: 16px auto;
}

@media screen and (max-width: 600px) {
    .left-top-menu {
        top: 80px;
        z-index: 8;
    }
    .left-top-menu.left-top-menu-open {
        top: 70px;
    }
    .left-top-menu:before {
        right: 22px;
    }
}


/*---------------------- top menu end ----------------------*/

.left-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 62px;
    bottom: 44px;
    overflow: auto;
    padding-bottom: 17px;
}

.left-content::-webkit-scrollbar {
    width: 0;
}

.left-content-balance {
    position: relative;
    padding: 15px 30px 15px 34px;
    border-bottom: 1px solid #e9ecf1;
}

.left-content-balance h4 {
    margin-bottom: 20px;
    color: #414a5e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.left-content-balance-item {
    position: relative;
    padding: 5px 0 17px 0;
    color: #414a5e;
    font-size: 14px;
    font-weight: 500;
}

.left-content-balance-item b {
    display: block;
    margin-bottom: 7px;
    color: #a2afbe;
    font-size: 10px;
    font-weight: 700;
}

button.button-plus {
    position: absolute;
    top: 8px;
    right: 51px;
    width: 35px;
    height: 30px;
    border: 1px solid #0068d9;
    border-radius: 4px;
    background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDE0IDE0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNCAxNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzAwNjhEOTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTYsMGgydjE0SDZWMHoiLz4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0wLDhWNmgxNHYySDB6Ii8+DQo8L3N2Zz4=) no-repeat center;
    background-size: 7px auto;
}

button.button-minus {
    position: absolute;
    top: 8px;
    right: 6px;
    width: 35px;
    height: 30px;
    border: 1px solid #e9ecf1;
    border-radius: 4px;
    background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDE0IDE0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNCAxNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0FCQjdDNTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsOFY2aDE0djJIMHoiLz4NCjwvc3ZnPg==) no-repeat center;
    background-size: 7px auto;
}

@media screen and (max-width: 600px) {
    .left-content {
        top: 131px;
        bottom: 52px;
    }
    .left-content-balance {
        padding: 21px 14px 4px 20px;
        border-bottom: 1px solid #e9ecf1;
    }
    .left-content-balance h4 {
        margin-bottom: 12px;
        font-size: 18px;
        text-transform: none;
    }
}

.pos-rel {
    position: relative;
}

.left-content-buttons {
    padding: 26px 0 28px 0;
    background: #f1f4f7;
    text-align: center;
    color: #7197c1;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
}

.left-content-buttons a {
    display: inline-block;
    width: 179px;
    height: 41px;
    border-radius: 3px;
    text-decoration: none;
    line-height: 43px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.sign-link {
    background: #0068d9;
}

.create-link {
    background: #91a6bd;
}

.sign-link:hover {
    background: #2289f9;
}

.create-link:hover {
    background: #7187a0;
}

.left-content-sell {
    overflow: hidden;
    padding: 30px 36px 0 33px;
}

.left-content-sell h4 {
    margin-bottom: 18px;
    color: #414a5e;
    font-size: 14px;
    font-weight: 700;
}

button.button-buy {
    float: left;
    width: 50%;
    height: 25px;
    margin-bottom: 6px;
    background: #0068d9;
    border-radius: 5px 0 0 5px;
    color: white;
    font-size: 12px;
}

button.button-buy.button-buy-die {
    border: 1px solid #e9ecf1;
    background-color: transparent;
    color: #a2afbe;
}

button.button-sell {
    width: 50%;
    height: 25px;
    margin-bottom: 6px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #e9ecf1;
    background: white;
    color: #a2afbe;
    font-size: 12px;
}

button.button-sell.button-sell-live {
    border: 1px solid #0068d9;
    background: #0068d9;
    color: white;
}

.left-content-sell-input {
    position: relative;
    margin-bottom: 0px;
    padding: 20px 0 0 0;
    color: #a2afbe;
    font-size: 12px;
    font-weight: 700;
}

.left-content-sell-input b {
    position: absolute;
    bottom: 1px;
    right: 1px;
    display: block;
    width: 52px;
    height: 38px;
    text-align: center;
    color: #545c6d;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    border-left: 1px solid #e2e8ef;
}

.left-content-sell-input em {
    font-style: normal;
    float: right;
}

.left-content-sell-input em .radio+label {
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    margin-left: 9px;
}

.left-content-sell-input em .radio:not(checked) {
    position: absolute;
    opacity: 0;
    width: 11px;
    height: 11px;
}

.left-content-sell-input em .radio:not(checked)+label {
    position: relative;
    padding: 0 0 0 17px;
    color: #bac4cf;
}

.left-content-sell-input em .radio:checked+label {
    color: #414a5e;
}

.left-content-sell-input em .radio:not(checked)+label:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #c7cfd8;
}

.left-content-sell-input em .radio:not(checked)+label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #2f70d8;
    opacity: 0;
    transition: all .3s;
}

.left-content-sell-input em .radio:checked+label:after {
    opacity: 1;
}

.left-content-sell-input input {
    width: calc(100% - 64px);
    height: 38px;
    margin: 9px 0 0 0;
    padding: 0 48px 0 14px;
    border: 1px solid #e9ecf1;
    border-radius: 3px;
    color: #758392;
    font-size: 14px;
    font-weight: 400;
}

.left-content-sell-input input:focus {
    border: 1px solid #a4b7d6;
}

button.button-place {
    width: 100%;
    height: 40px;
    margin-top: 24px;
    background-color: transparent;
    border: 1px solid #69aa74;
    border-radius: 5px;
    color: #69aa74;
    font-size: 14px;
}

button.button-place:hover {
    border: 1px solid #5bcd6e;
    color: #5bcd6e;
}

@media screen and (max-width: 600px) {
    .left-content-sell {
        overflow: hidden;
        padding: 17px 20px 0 19px;
    }
    button.button-buy {
        height: 30px;
    }
    button.button-sell {
        height: 30px;
    }
}

ul.left-content-tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

ul.left-content-tabs li {
    display: block;
    float: left;
    height: 43px;
    border-top: 1px solid #e9ecf1;
    text-align: center;
    color: #a8b5c3;
    font-size: 14px;
    font-weight: 500;
    line-height: 42px;
    cursor: pointer;
}

ul.left-content-tabs li:hover {
    color: #414a5e;
}

ul.left-content-tabs li.current {
    color: #414a5e;
    border-top: 1px solid #FFF;
    border-right: 1px solid #e9ecf1;
    margin-right: -1px;
    cursor: auto;
}

ul.left-content-tabs li:nth-child(1) {
    width: 39%;
    text-indent: 15px;
}

ul.left-content-tabs li:nth-child(2) {
    width: 29%;
}

ul.left-content-tabs li:nth-child(2).current {
    border-left: 1px solid #e9ecf1;
    margin-left: -1px;
}

ul.left-content-tabs li:nth-child(3) {
    width: 32%;
    text-indent: -20px;
}

ul.left-content-tabs li:nth-child(3).current {
    border-right: 0;
    margin-right: 0;
    border-left: 1px solid #e9ecf1;
    margin-left: -1px;
}

.box {
    position: relative;
    z-index: 2;
    display: none;
}

.box.visible {
    display: block;
}

@media screen and (max-width: 600px) {
    ul.left-content-tabs {
        position: absolute;
        z-index: 3;
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
        margin: 4px 15px 0 0;
    }
    ul.left-content-tabs li {
        display: inline-block;
        float: none;
        border-top: 0;
        padding: 0 4.5px;
        font-weight: 700;
    }
    ul.left-content-tabs li:nth-child(1) {
        width: auto;
        text-indent: 0;
    }
    ul.left-content-tabs li:nth-child(2) {
        width: auto;
    }
    ul.left-content-tabs li:nth-child(2).current {
        border-left: 0;
        margin-left: 0;
    }
    ul.left-content-tabs li:nth-child(3) {
        width: auto;
        text-indent: 0;
    }
    ul.left-content-tabs li.current {
        border-top: 0;
        border-right: 0;
        margin-right: 0;
    }
    ul.left-content-tabs li:nth-child(3).current {
        border-left: 0;
        margin-left: 0;
    }
}


/*---------------------- top currency dropdown ----------------------*/

.top-currency-dropdown {
    position: absolute;
    z-index: 4;
    left: -1px;
    top: 70px;
    width: 398px;
    background: white;
    border: 1px solid #e9ebf0;
    visibility: hidden;
    opacity: 0;
}

.top-currency-dropdown.top-currency-dropdown-open {
    top: 60px;
    visibility: visible;
    opacity: 1;
}

.top-currency-dropdown-search {
    position: relative;
    padding: 18px 27px 0px 25px;
}

.top-currency-dropdown-search input {
    width: calc(100% - 46px);
    height: 30px;
    padding: 0 12px 0 34px;
    background: white;
    border: 1px solid #e9ecf1;
    border-radius: 2px;
    color: #a2afbe;
    font-size: 14px;
}

.top-currency-dropdown-search input:focus {
    border: 1px solid #d1d5dc;
}

.top-currency-dropdown-search button {
    position: absolute;
    top: 21px;
    left: 30px;
    width: 24px;
    height: 24px;
    background: url(../assets/img/search.png) no-repeat center;
    background-size: 13px auto;
}

.top-currency-dropdown-title {
    overflow: hidden;
    padding: 9px 0 6px 0;
}

.top-currency-dropdown-title span {
    display: block;
    height: 20px;
    padding: 0;
    float: left;
    color: #8092a6;
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
}

.top-currency-dropdown-title span:nth-child(1) {
    width: calc(23% - 28px);
    padding-left: 28px;
}

.top-currency-dropdown-title span:nth-child(2) {
    width: 19.6%;
}

.top-currency-dropdown-title span:nth-child(3) {
    width: 22%;
}

.top-currency-dropdown-title span:nth-child(4) {
    width: 17%;
}

.top-currency-dropdown-title span:nth-child(5) {
    width: 16%;
}

.top-currency-dropdown-item {
    overflow: hidden;
    height: 21px;
    line-height: 21px;
}

.top-currency-dropdown-item:nth-child(2n-1) {
    background: #fbfcfd;
}

.top-currency-dropdown-item:hover {
    background: #eff6fd;
}

.top-currency-dropdown-item span {
    display: block;
    float: left;
    height: 21px;
    padding: 0;
    line-height: 21px;
    color: #a4b1c0;
    font-size: 11px;
    font-weight: 400;
}

.top-currency-dropdown-item span b {
    color: #8092a6;
    font-weight: 700;
}

.top-currency-dropdown-item span:nth-child(1) {
    width: calc(23% - 28px);
    padding-left: 28px;
}

.top-currency-dropdown-item span:nth-child(2) {
    width: 19.6%;
}

.top-currency-dropdown-item span:nth-child(3) {
    width: 22%;
}

.top-currency-dropdown-item span:nth-child(4) {
    width: 17%;
}

.top-currency-dropdown-item span:nth-child(5) {
    width: 18%;
}

.top-currency-dropdown-item span.top-currency-green {
    color: #69aa74;
}

.top-currency-dropdown-item span.top-currency-green img {
    position: relative;
    top: -3px;
    left: -2px;
    width: 8px;
    height: 8px;
}

.top-currency-dropdown-item span.top-currency-red {
    color: #e25b5b;
}

.top-currency-dropdown-item span.top-currency-red img {
    position: relative;
    top: -3px;
    left: -2px;
    width: 8px;
    height: 8px;
}

@media screen and (max-width: 840px) {
    .top-currency-dropdown {
        width: auto;
        right: 0;
    }
}


/*---------------------- top currency dropdown end ----------------------*/

.top-last-price {
    display: inline-block;
    vertical-align: top;
    padding: 14px 0 0 20px;
}

.top-last-price-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 38px 0 0;
    color: #545c6d;
    font-size: 16px;
}

.top-last-price-item b {
    display: block;
    margin-bottom: 5px;
    color: #a2afbe;
    font-size: 10px;
    font-weight: 700;
}

.top-last-price-item i {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin: -1px 5px 0 0;
    //background: url(../assets/img/price-ico1.png) no-repeat center;
    //background-size: 18px;
}

.top-last-price-item i img {
    width: 100%;
}

.top-last-price-item em {
    position: relative;
    top: -1px;
    display: inline-block;
    margin: 0 0 0 5px;
}

.top-last-price-item em img {
    width: 8px;
    height: 10px;
}

@media screen and (max-width: 1280px) {
    .top-last-price {
        display: none;
    }
}


/*
a.login {
    display: block;
    float: right;
    height: 28px;
    margin: 15px 25px 0 0;
    padding: 0 12px;
    background: white;
    border: 1px solid #e9ecf1;
    border-radius: 5px;
    text-decoration: none;
    color: #a2afbe;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

a.login:hover {
    color: #8694a4;
    border: 1px solid #c1c6d0;
}

a.register {
    display: block;
    float: right;
    margin: 15px 14px 0 0;
    padding: 0 12px;
    height: 30px;
    background: #0068d9;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
}

a.register:hover {
    background: #2584eb;
}

@media screen and (max-width: 840px) {
    a.login {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin: 15px 10px 14px 0;
        padding: 0 10px;
        font-size: 13px;
    }
    a.register {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin: 15px 0 14px 0;
        padding: 0 10px;
        font-size: 13px;
    }
}
*/

.left-top-menu em {
    font-style: normal;
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 5px 0px 27px -5px;
}

a.login {
    display: inline-block;
    width: 64px;
    height: 28px;
    margin: 0px 0px 0 0;
    padding: 0 10px;
    background: white;
    border: 1px solid #e9ecf1;
    border-radius: 5px;
    text-decoration: none;
    color: #a2afbe;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

a.login:hover {
    color: #8694a4;
    border: 1px solid #c1c6d0;
}

a.register {
    display: inline-block;
    margin: 0px 6px 0 0;
    padding: 0 12px;
    width: 68px;
    height: 30px;
    background: #0068d9;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
}

a.register:hover {
    background: #2584eb;
}


/*---------------------- TOP end ----------------------*/


/*---------------------- CONTENT LEFT ----------------------*/

.content-left {
    position: absolute;
    top: 61px;
    bottom: 0;
    left: 0;
    width: 280px;
}

.content-left h2 {
    height: 48px;
    margin-bottom: 7px;
    padding: 0 25px;
    background: #FFF;
    color: #414a5e;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
}

.content-left span {
    display: block;
    float: left;
    color: #8092a6;
    font-size: 11px;
    font-weight: 700;
}

.content-left span:nth-child(2) {
    width: calc(43.5% - 25px);
    padding-left: 25px;
}

.content-left span:nth-child(3) {
    width: 33.6%;
}

.content-left span:nth-child(4) {
    width: 17%;
    text-align: center;
}

.content-left-info {
    position: absolute;
    top: 76px;
    bottom: 35px;
    left: 0;
    right: 0;
    overflow: auto;
}

.content-left-info::-webkit-scrollbar {
    width: 0;
}

.content-left-red-item {
    position: relative;
    overflow: hidden;
    height: 21px;
    cursor: pointer;
}

.content-left-red-item em {
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    height: 7px;
    background: #f16d6d;
}

.content-left-red-item:nth-child(2n-1) {
    background: #fbfcfd;
}

.content-left-red-item span {
    display: block;
    height: 21px;
    float: left;
    color: #bbc9d9;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
}

.content-left-red-item span i {
    font-style: normal;
    color: #a2afbe;
}

.content-left-red-item span b {
    font-weight: 400;
    color: #758392;
}

.content-left-red-item span:nth-child(1) {
    width: calc(43.5% - 25px);
    padding-left: 25px;
}

.content-left-red-item span:nth-child(2) {
    width: 33.6%;
    padding: 0;
    font-weight: 700;
    color: #f08b8b;
}

.content-left-red-item span:nth-child(2) b {
    color: #e25b5b;
    font-weight: 700;
}

.content-left-red-item span:nth-child(3) {
    width: 17%;
    text-align: center;
}

.content-left-green {}

.content-left-green .content-left-red-item:nth-child(2n-1) {
    background: #FFF;
}

.content-left-green .content-left-red-item:nth-child(2n) {
    background: #fbfcfd;
}

.content-left-green .content-left-red-item span:nth-child(2) {
    color: #90d79c;
}

.content-left-green .content-left-red-item span:nth-child(2) b {
    color: #69aa74;
}

.content-left-green .content-left-red-item em {
    background: #72ad7e;
}

.content-left-sticky {
    position: sticky;
    z-index: 2;
    top: 0;
    bottom: 0;
    height: 25px;
    margin: 1px 12px 2px 13px;
    padding: 0 31px 0 12px;
    background: white;
    border: 1px solid #e9ecf1;
    border-radius: 3px;
    color: #414a5e;
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
}

.content-left-sticky b {
    float: right;
    font-weight: 500;
    font-size: 12px;
}

.content-left-bottom {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 10px;
    height: 25px;
    margin: 1px 2px 2px 13px;
    padding: 0 0px 0 12px;
    background: white;
    border: 1px solid #e9ecf1;
    border-radius: 3px;
    color: #414a5e;
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
}

.content-left-bottom b {
    display: block;
    float: right;
    font-weight: 500;
    font-size: 12px;
}

.content-left-bottom b button {
    position: relative;
    top: 3px;
    background: #FFF;
    width: 16px;
    height: 16px;
    margin: 0 8px 0 8px;
    border: 1px solid #e9ecf1;
    border-radius: 5px;
    color: #a2afbe;
    background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMyAxMzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0EyQUZCRTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsNWgxM3YzSDBWNXoiLz4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik01LDBoM3YxM0g1VjB6Ii8+DQo8L3N2Zz4=) no-repeat center;
    background-size: 6px auto;
}

.content-left-bottom b button:nth-child(1) {
    background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMyAxMzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0EyQUZCRTt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsNWgxM3YzSDBWNXoiLz4NCjwvc3ZnPg==) no-repeat center;
    background-size: 6px auto;
}

@media screen and (max-width: 1280px) {
    .content-left {
        bottom: 52px;
        right: 0;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .content-left {
        top: 131px;
        bottom: 52px;
        right: 0;
        width: auto;
    }
}


/*---------------------- CONTENT LEFT end ----------------------*/


/*---------------------- CONTENT FIGHT ----------------------*/

.content-right {
    position: absolute;
    top: 61px;
    bottom: 0;
    right: 0;
    width: 280px;
}

.content-right h2 {
    height: 48px;
    margin-bottom: 7px;
    padding: 0 26px;
    background: #FFF;
    color: #414a5e;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
}

.content-right span {
    display: block;
    float: left;
    color: #8092a6;
    font-size: 11px;
    font-weight: 700;
}

.content-right span:nth-child(2) {
    width: calc(38.8% - 26px);
    padding-left: 26px;
}

.content-right span:nth-child(3) {
    width: 33.6%;
}

.content-right span:nth-child(4) {
    width: 22%;
}

.content-right-info {
    position: absolute;
    top: 76px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.content-right-info::-webkit-scrollbar {
    width: 0;
}

.content-right-item {
    position: relative;
    overflow: hidden;
    height: 21px;
}

.content-right-item:nth-child(2n-1) {
    background: #fbfcfd;
}

.content-right-item span {
    display: block;
    height: 21px;
    float: left;
    color: #bbc9d9;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
}

.content-right-item span i {
    font-style: normal;
    color: #a2afbe;
}

.content-right-item span b {
    font-weight: 400;
    color: #758392;
}

.content-right-item span:nth-child(1) {
    width: calc(38.8% - 26px);
    padding-left: 26px;
}

.content-right-item span:nth-child(2) {
    width: 33.5%;
    padding: 0;
    font-weight: 700;
}

.content-right-item span:nth-child(2) b {
    font-weight: 700;
}

.content-right-item span:nth-child(2) img {
    width: 8px;
    height: 8px;
    margin-left: 6px;
}

.content-right-item span:nth-child(3) {
    width: 22%;
    color: #a2afbe;
}

.content-right-item span.history-green {
    color: #90d79c;
}

.content-right-item span.history-green b {
    color: #69aa74;
}

.content-right-item span.history-red {
    color: #f08b8b;
}

.content-right-item span.history-red b {
    color: #e25b5b;
}

@media screen and (max-width: 1280px) {
    .content-right {
        left: 0;
        bottom: 52px;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .content-right {
        top: 131px;
        left: 0;
        bottom: 52px;
        width: auto;
    }
}


/*---------------------- CONTENT FIGHT end ----------------------*/

.content-left-red-item.item-active,
.content-left-red-item.item-active:nth-child(2n-1),
.content-left-red-item.item-active:nth-child(2n),
.content-right-item.item-active {
    background: #ecf1f6;
}


/*---------------------- CONTENT CENTER ----------------------*/

.content-center {
    position: absolute;
    left: 286px;
    right: 286px;
    top: 61px;
    bottom: 0;
    overflow: hidden;
}

.content-center::-webkit-scrollbar {
    width: 0;
}

.content-center-chart {
    position: relative;
    padding-bottom: 7px;
}

.content-center h2 {
    height: 43px;
    padding: 0 0 0 16px;
    color: #414a5e;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
}

.chart-box {
    height: 426px;
    padding: 6px 14px 0 14px;
}

ul.content-center-tabs {
    position: absolute;
    z-index: 3;
    top: 12px;
    right: 17px;
    height: 23px;
    border: 1px solid #e9ecf1;
    border-radius: 5px;
}

ul.content-center-tabs li {
    display: inline-block;
    height: 23px;
    padding: 0 11px 0 8px;
    color: #a9b5c3;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

ul.content-center-tabs li:hover {
    color: #414a5e;
}

ul.content-center-tabs li:nth-child(1) {
    border-right: 1px solid #e9ecf1;
    padding: 0 16px 0 10px;
}

ul.content-center-tabs li.current {
    color: #414a5e;
    cursor: auto;
}

.content-center-orders {
    position: relative;
}

ul.content-orders-tabs {
    position: absolute;
    z-index: 3;
    top: 12px;
    right: 17px;
    height: 23px;
    border: 1px solid #e9ecf1;
    border-radius: 5px;
}

ul.content-orders-tabs li {
    display: inline-block;
    height: 23px;
    padding: 0 8px 0 9px;
    color: #a9b5c3;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

ul.content-orders-tabs li:hover {
    color: #414a5e;
}

ul.content-orders-tabs li:nth-child(1) {
    border-right: 1px solid #e9ecf1;
    padding: 0 11px 0 10px;
}

ul.content-orders-tabs li.current {
    color: #414a5e;
    cursor: auto;
}

.content-orders {}

.content-center-orders-nav {
    position: sticky;
    bottom: 0px;
    left: 0;
    height: 35px;
    margin: 10px 0 0 0;
    padding: 4px 0 0 18px;
    background: #FFF;
    color: #98a7b7;
    font-size: 12px;
    font-weight: 400;
}

.content-center-orders-nav a {
    text-decoration: none;
    color: #959ba9;
}

.content-center-orders-nav a:hover {
    color: #3b92f1;
}

.content-center-orders-nav b {
    display: inline-block;
    padding: 0 4px 0 6px;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
}

.content-center-orders-nav b span {
    height: 22px;
    display: inline-block;
    margin: 0 2px;
    padding: 0 4.5px;
    border: 1px solid #e9ecf1;
    border-radius: 2px;
    color: #5a6273;
    font-weight: 500;
}

.content-center-orders-nav b a {
    height: 22px;
    display: inline-block;
    margin: 0 2px;
    padding: 0 4.5px;
    border-radius: 2px;
    border: 1px solid transparent;
}

.content-center-orders-nav b a:hover {
    border: 1px solid #8dc4ff;
    color: #3b92f1;
}

.content-orders-title {
    overflow: hidden;
    padding: 12px 0 10px 0;
    color: #8092a6;
    font-size: 11px;
    font-weight: 700;
}

.content-orders-title span {
    display: block;
    float: left;
}

.content-orders-title span:nth-child(1) {
    width: calc(22.2% - 18px);
    padding-left: 18px;
}

.content-orders-title span:nth-child(2) {
    width: 25.6%;
}

.content-orders-title span:nth-child(3) {
    width: 24.6%;
}

.content-orders-title span:nth-child(4) {
    width: 19.4%;
}

.content-orders-title span:nth-child(5) {
    width: 8.2%;
}

.content-orders-item {
    overflow: hidden;
    height: 25px;
    color: #a2afbe;
    font-size: 11px;
    font-weight: 400;
}

.content-orders-item:nth-child(2n) {
    background: #fbfcfd;
}

.content-orders-item span {
    display: block;
    float: left;
    height: 25px;
    line-height: 26px;
}

.content-orders-item span:nth-child(1) {
    width: calc(22.2% - 18px);
    padding-left: 18px;
}

.content-orders-item span:nth-child(2) {
    width: 25.6%;
}

.content-orders-item span:nth-child(3) {
    width: 24.5%;
    color: #8092a6;
    font-weight: 700;
}

.content-orders-item span:nth-child(4) {
    width: 18.8%;
}

.content-orders-item span:nth-child(5) {
    width: 8.2%;
    text-align: center;
}

.content-orders-item span i {
    font-style: normal;
    display: inline-block;
    height: 15px;
    padding: 0 5px;
    background: #e5efe8;
    border-radius: 5px;
    color: #6fad79;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
}

@media screen and (max-width: 1280px) {
    .content-center {
        left: 0;
        right: 0;
        bottom: 52px;
    }
}

@media screen and (max-width: 840px) {
    .content-orders-title span:nth-child(1) {
        width: calc(32.2% - 18px);
    }
    .content-orders-title span:nth-child(2) {
        width: 17.6%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .content-orders-title span:nth-child(3) {
        width: 20.5%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .content-orders-title span:nth-child(4) {
        width: 18.4%;
    }
    .content-orders-title span:nth-child(5) {
        width: 10.8%;
    }
    .content-orders-item span:nth-child(1) {
        width: calc(34.2% - 18px);
    }
    .content-orders-item span:nth-child(2) {
        width: 15.6%;
    }
    .content-orders-item span:nth-child(3) {
        width: 20.5%;
    }
    .content-orders-item span:nth-child(4) {
        width: 18.4%;
    }
    .content-orders-item span:nth-child(5) {
        width: 10.8%;
    }
}

@media screen and (max-width: 600px) {
    .content-center {
        top: 131px;
        left: 0;
        right: 0;
        bottom: 52px;
    }
    ul.content-center-tabs {
        right: 12px;
    }
    ul.content-center-tabs li {
        padding: 0 8px;
    }
    ul.content-center-tabs li:nth-child(1) {
        padding: 0 8px;
    }
    ul.content-orders-tabs {
        right: 12px;
    }
    ul.content-orders-tabs li {
        padding: 0 8px;
    }
    ul.content-orders-tabs li:nth-child(1) {
        padding: 0 8px;
    }
}


/*---------------------- CONTENT CENTER end ----------------------*/

.responcive-tabs {
    display: none;
}

.box-responcive.visible,
.box-responcive {
    display: block;
}

@media screen and (max-width: 1280px) {
    .responcive-tabs {
        overflow: hidden;
        position: absolute;
        z-index: 6;
        left: 251px;
        right: 0;
        bottom: 0;
        display: block;
        height: 51px;
        background: #FFF;
        border-top: 1px solid #e9ecf1;
        white-space: nowrap;
    }
    .responcive-tabs li {
        display: inline-block;
        height: 51px;
        margin-right: 17px;
        font-size: 12px;
        text-transform: uppercase;
        color: #8092a6;
        font-weight: 400;
        cursor: pointer;
        line-height: 50px;
    }
    .responcive-tabs li:hover {
        color: #414a5e;
    }
    .responcive-tabs li.current1 {
        display: none;
    }
    .responcive-tabs li:nth-child(2) {
        margin-left: 21px;
    }
    .responcive-tabs li.current1,
    .responcive-tabs li.current {
        color: #414a5e;
        cursor: auto;
    }
    .box-responcive {
        display: none;
        z-index: 1;
    }
    .box-responcive.visible {
        display: block;
    }
    .box-responcive.visible1 {
        display: inline-block !important;
    }
}

@media screen and (max-width: 600px) {
    .responcive-tabs {
        left: 0;
    }
    .responcive-tabs li.current {
        color: #8092a6;
        cursor: pointer;
    }
    .responcive-tabs li.current1 {
        display: inline-block;
        color: #414a5e;
    }
    .responcive-tabs li:nth-child(1) {
        display: inline-block;
        margin-left: 21px;
    }
    .responcive-tabs li:nth-child(2) {
        margin-left: 0;
    }
}

a,
button,
input,
textarea,
ul.content-center-tabs li,
ul.content-orders-tabs li,
.left-top-menu,
.top-currency-dropdown-item,
.top-currency-dropdown,
.responcive-tabs li {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
