<div class="content-left box-responcive visible">
  <h2>Order book</h2>
  <span>Market size</span>
  <span>Price (USD)</span>
  <span>My size</span>
  <div class="content-left-info">
    <div class="content-left-red">
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 2px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 11px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 4px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 4px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 1px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 2px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 2px;"></em>
      </div>
    </div>
    <div class="content-left-sticky">
      USD spread <b>0.02</b>
    </div>
    <div class="content-left-green">
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 2px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 11px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 4px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 4px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 1px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 2px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 0px;"></em>
      </div>
      <div class="content-left-red-item">
        <span><i>3.</i><b>84</b>0000000</span>
        <span>5643.<b>28</b></span>
        <span>-</span>
        <em style="width: 2px;"></em>
      </div>
    </div>
  </div>
  <div class="content-left-bottom">
    Aggregation <b><button></button>0.10<button></button></b>
  </div>
</div>
