<div class="content-right box-responcive">
  <h2>Trade history</h2>
  <span>Trade size</span>
  <span>Price (USD)</span>
  <span>UTC Time</span>
  <div class="content-right-info">

    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-red">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-red">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-red">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>
    <div class="content-right-item">
      <span><i>3.</i><b>84</b>0000000</span>
      <span class="history-green">5643.<b>28</b></span>
      <span>13:56:02</span>
    </div>

  </div>
</div>
