<div class="content-center-orders box-responcive block-orders">

  <ul class="reset content-orders-tabs">
    <li class="current">Open orders</li>
    <li>Filled orders</li>
  </ul>

  <div class="box visible">
    <h2>Open orders</h2>
    <div class="content-orders">
      <div class="content-orders-title">
        <span>Size</span>
        <span>Filled (BTC)</span>
        <span>Price (USD)</span>
        <span>Time</span>
        <span>Status</span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>

    </div>
    <div class="content-center-orders-nav">
      <span>Prev</span>
      <b>
        <span>1</span>
        <a href="">2</a>
        <a href="">3</a>
      </b>
      <a href="">Next</a>
    </div>
  </div>

  <div class="box">
    <h2>Filled orders</h2>
    <div class="content-orders">
      <div class="content-orders-title">
        <span>Size</span>
        <span>Filled (BTC)</span>
        <span>Price (USD)</span>
        <span>Time</span>
        <span>Status</span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
      <div class="content-orders-item">
        <span>3.840000000</span>
        <span>2.00</span>
        <span>5643.28</span>
        <span>12:28:42</span>
        <span><i>Ok</i></span>
      </div>
    </div>
    <div class="content-center-orders-nav">
      <span>Prew</span>
      <b>
        <span>1</span>
        <a href="">2</a>
        <a href="">3</a>
      </b>
      <a href="">Next</a>
    </div>
  </div>

</div>
