<div id="left">
  <div class="left-top">
    <a href="" class="logo">Veserus</a>
    <div class="left-top-button"></div>

    <!-- dropdown menu -->
    <!-- dropdown menu end -->
    <ul class="reset left-top-menu">
      <em>
        <a href="" class="register">Sign in</a>
        <a href="" class="login">User login</a>
      </em>
      <li><a href=""><i class="ico01"></i>Exchange</a></li>
      <li><a href=""><i class="ico02"></i>Interest</a></li>
      <li><a href=""><i class="ico03"></i>Margin</a></li>
      <li><a href=""><i class="ico04"></i>Lending</a></li>
      <li><a href=""><i class="ico05"></i>Trollbox</a></li>
      <span>Account</span>
      <li><a href=""><i class="ico06"></i>Profile</a></li>
      <li><a href=""><i class="ico07"></i>Orders</a></li>
      <li><a href=""><i class="ico08"></i>Trade history</a></li>
      <li><a href=""><i class="ico09"></i>Balances</a></li>
      <!--<li><a href=""><i class="ico10"></i>Sign Up</a></li>-->
      <span>System</span>
      <li><a href=""><i class="ico11"></i>Black&amp;White</a></li>
      <li><a href=""><i class="ico12"></i>Help</a></li>
      <li><a href=""><i class="ico13"></i>Notification</a></li>
      <li><a href=""><i class="ico14"></i>Settings</a></li>
    </ul>
  </div><div class="left-content-block">

    <div class="left-content box-responcive visible1">
      <div class="left-content-buttons">
        <a class="sign-link" href="">Sign in</a>
        <br>OR<br>
        <a class="create-link" href="">Create account</a>
      </div>

      <!--
      <div class="left-content-balance">
          <h4>Balance</h4>
          <div class="left-content-balance-item">
              <b>XNO</b>
              0.73500.00
              <button class="button-plus"></button>
              <button class="button-minus"></button>
          </div>
          <div class="left-content-balance-item">
              <b>TOKEN</b>
              0.89900.00
              <button class="button-plus"></button>
              <button class="button-minus"></button>
          </div>
      </div>
      -->
      <div class="pos-rel">
        <div class="box visible">
          <div class="left-content-sell">
            <h4>BUY &amp; SELL</h4>
            <button class="button-buy">Buy</button>
            <button class="button-sell">Sell</button>
            <div class="left-content-sell-input">
              Ammount
              <b>BTC</b>
              <input type="text" placeholder="1.00000000">
            </div>
            <div class="left-content-sell-input">
              Price
              <em>
                <input type="radio" class="radio" id="radio1" name="radio">
                <label for="radio1">Market</label>
                <input type="radio" class="radio" id="radio2" name="radio" checked="">
                <label for="radio2">Limit</label>
              </em>
              <b>USD</b>
              <input type="text" placeholder="1.00000000">
            </div>
            <div class="left-content-sell-input">
              Total
              <b>USD</b>
              <input type="text" value="4.569">
            </div>
            <button class="button-place">Place buy order</button>
          </div>
        </div>

        <div class="box">
          <div class="left-content-sell">
            <h4>BUY &amp; SELL</h4>
            <button class="button-buy">Buy</button>
            <button class="button-sell">Sell</button>
            <div class="left-content-sell-input">
              Ammount
              <b>BTC</b>
              <input type="text" placeholder="1.00000000">
            </div>
            <div class="left-content-sell-input">
              Limit price
              <b>USD</b>
              <input type="text" placeholder="1.00000000">
            </div>
            <div class="left-content-sell-input">
              Total
              <b>USD</b>
              <input type="text" value="4.569">
            </div>
            <button class="button-place">Place buy order</button>
          </div>
        </div>

        <div class="box">
          <div class="left-content-sell">
            <h4>BUY &amp; SELL</h4>
            <button class="button-buy">Buy</button>
            <button class="button-sell">Sell</button>
            <div class="left-content-sell-input">
              Ammount
              <b>BTC</b>
              <input type="text" placeholder="1.00000000">
            </div>
            <div class="left-content-sell-input">
              Limit price
              <b>USD</b>
              <input type="text" placeholder="1.00000000">
            </div>
            <div class="left-content-sell-input">
              Total
              <b>USD</b>
              <input type="text" value="4.569">
            </div>
            <button class="button-place">Place buy order</button>
          </div>
        </div>
      </div>
    </div><ul class="reset left-content-tabs">
      <li class="current">Market</li>
      <li>Limit</li>
      <li>Stop</li>
    </ul>



  </div>



</div>
